.App {
  font-family: sans-serif;
  text-align: center;
}

.error {
  display: none;
}
.error.active {
  display: block;
  color: red;
}

.fade-out {
  visibility: hidden;
  opacity: 0;
  transition: visibility 1s 0.5s, opacity 0.5s;
}

.action-btn:hover {
  background-color: #04395e3d;
  border-radius: 5px;
}

.todo_form {
  display: flex;
}

/* app.css */

.navbar {
  align-items: center;
  display: flex;
}

.navbar_container {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.navLinks {
  color: black;
  text-decoration: none;
  font-family: "Roboto";
  text-transform: uppercase;
}

